@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
  /* ========================== MAIN NAVIGATION ============================ */


 h2, h3, h4, h5{
  font-family:'Josefin Sans';
}

.menu {
  float: right;
  clear: left;
  margin: 1em;
  font-size: 1.1rem;
  color: white; 
}
  @media (min-width: 867px) {
    .menu {
      display: none; 
    } 
  }

.main-heading {
  margin: 1.1em 0 0 1em;
  float: left; 
}
  .main-heading h1 {
    color:rgb(3,151,214);
    margin: 0; 
    text-transform: uppercase;
    font-weight:normal;
    font-size:1.6em;
    
}
h1 span{
  color:white;
  font-family:Impact;
  letter-spacing: 1px;
  font-size:24px;
}

  @media (min-width: 867px) {
    .main-heading {
      margin: auto; 
    }
  }

.wrapper {
  z-index: 3;
  width: 100%;
  position: fixed;
  background:
  linear-gradient(
    rgba(56,54, 58, 1), rgba(35, 33, 39, 1)
  );
  height: 60px;
  display: flex;
  justify-content: center; 
  box-shadow: 0 1px 6px 0 rgba(64,196,253,1);
}

.navigation {
  z-index: 3;
  width: 100%;
  position: fixed; 
}

  @media (min-width: 867px) {
    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      
    } 
    }



.topnav {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-y: hidden;
  height: 0;
  z-index: 10;
  background-color: rgb(30,30,30);
}

  .topnav li {
    border-top: 1px solid #E6E6E6;
    padding: 1em; 
    
  }

  @media (min-width: 867px) {
    .topnav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 60px;
      transition: 0s;
      background-color: transparent;
      box-shadow: none; 
      
    }
  .topnav li {
        border-top: none;
        border-right:1px solid rgb(65,63,68);
        border-left:1px solid rgb(40,38,42);
        padding: 1.2em 0.5em; 
      } 
  }

li a {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px; 
  text-decoration:none;
  text-transform: uppercase;

}
  @media (min-width: 867px) {
    li a {
      margin: 1em;
    } 
  }

.current {
  color: #C49B66; 
}

.tag:hover {
  text-decoration: none;
  color: #C49B66;
  transition: 0.2s;
  opacity: 0.5; 
}

.top {
  width: 100%;
  height: 20px;
  transform: translateY(70px); 
}
/* ========================= RESPONSIVE CLASSES ============================ */
.response {
  height: 170px;
  transition: 0.4s ease-in-out; 
}
  @media (min-width: 867px) {
    .response {
      height: 70px;
      transition: none; 
    } 
  }

  .active{
    background-color:rgb(52,52,52);
  }
/* ============================ SUBHEADER SECTION ============================== */

.subheader{
  background:  radial-gradient(
    circle,
  rgb(46,45,51),
    rgb(6,5,11)
  );

  height:100px;
  background-size: cover;
  padding-top:60px;
  display:flex;
  justify-content: center;
  align-items:center;
}

  /* ========================== MOVIE CONTAINER ============================ */

  .movie-container{
    display:flex;
    justify-content: center;
    align-items:center;
    padding:30px 10px;
    background-color:rgba(36,35,41);
   
  }
  .movie-item{
    width:50vh;
    height:70vh;
    padding:2px 3px;
    margin:5px;
   background-color:rgb(43,42,45);
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    box-shadow: 0 0 4px rgba(0,0,0,0.6), 0 3px 6px rgba(0,0,0,0.6);
    cursor:pointer;
    transition:0.3s;
  }
  .movie-item:hover{
    box-shadow: 0 0 7px white, 0 0 7px white;
   
  }
  .text-container{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    background-color:black;
    width:100%;
    padding:10px 0;
    text-transform: uppercase;
    justify-content: center;
    border:1px solid black;
  }
.text-container h6{
  color:white;
  margin:0;
  white-space: nowrap;
  overflow: hidden;
  padding:0 5px;
  font-weight:normal;
}

  .wrap{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
  }
  
  .movie-cover{
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    border:1px solid black;
    position: relative;
  }
  @media(min-width:568px){
    .wrap{
      flex-direction:row;
      flex-wrap: wrap;
    }
    .movie-item{
      width:195px;
      height:295px;
    }
  }
  @media(min-width:2140px){
    .movie-container{
      width:2140px;
    }
  }
  /* ========== INPUT ===============*/

  input{
    background-color:rgb(25,25,25);
    border:none;
    height:30px;
    width:300px;
    border-radius:3px;
    color:white;
  }
 ::placeholder{
    padding-left:10px;
  }
  /* ===================== MOVIE RATING ================= */
  .movie-rating {
    position: absolute;
    right: 0px;
    top:0px;
    width: 40px;
    height: 25px;
    border-radius: 0 0 0 7px;
    background: rgb(0,0,0, 0.7);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    z-index:10;
    display:flex;
    justify-content: center;
    align-items:center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3), 0 3px 6px rgba(0,0,0,0.3);
  }
  .movie-rating h6{
    color:white;

  }
  .star{
    color:orange;
    font-size:0.7em;
    padding:0 2px 1px 0;
  }

/* ============ GENRE CONTAINER =================== */

.genre-container{
  display:flex;
  justify-content:center;
  align-items: center;
}


.genre-container ul{
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap:wrap;
  align-items: center;
  border-radius:3px;
  padding:0;
}

.genre-container li{
  list-style-type: none;
  color:white;
  padding:14px 10px 10px 10px;
  margin-right:10px;
  font-size:0.8rem;
  cursor:pointer;
  transition:0.2s;
  font-family:'Josefin Sans';
 text-transform: uppercase;
 border-radius:4px;
}
.genre-container li:last-child{
  border-right:none;
}
.genre-container li:hover{
  box-shadow: 0 0 4px white, 0 0 6px white;
}

.suggestion{
  margin-right:1em;
  margin-left:4px;
  padding:5px 10px 5px 12px;
  border-radius:5px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color:orange;
  
}
.suggestion h4{
  margin:0;
  color:black;
  font-family:Impact;
  font-size:1.1em;
  
}
.angle-left{
  color:black;
  padding:4px 0 2px 13px;
  font-size:1.1em;
}

/* ========================= @@@@ MEDIA QUERIES @@@@ ============= */

@media(min-width:568px){
  .genre-container{
    justify-content: flex-start;
    width:430px;
  }
  
}
@media(min-width:654px){
   .genre-container{
    width:630px;
  }
}
@media(min-width:867px){
  .navigation, 
  .genre-container{
    width:840px;
  }
}
@media(min-width:1075px){
  .navigation, 
  .genre-container{
    width:1050px;
  }
}
@media(min-width:1287px){
  .navigation,
  .genre-container{
    width:1260px;
  }
}
@media(min-width:1495px){
  .navigation,
  .genre-container{
    width:1470px;
  }
}
@media(min-width:1705px){
  .navigation,
  .genre-container{
    width:1680px;
  }
}
@media(min-width:1919px){
  .navigation,
  .genre-container{
    width:1900px;
  }
}
@media(min-width:2131px){
  .navigation,
  .genre-container{
    width:2100px;
  }
}


.info-title{
  color:white;
}

/* ====================== MOVIE INFO ============================= */

.infoSection{
  background-repeat: no-repeat;
  background-size:cover;
}
.infoBox{
  display:flex;
  box-sizing:border-box;
  background-color:rgba(0,0,0,0.7);
  flex-wrap:wrap;
  flex-direction:column;
  justify-content: space-between;
  margin:1em;
  border-radius:5px;
}

.outer-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85) 10%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.95) 90%);
  background-attachment: fixed;
  margin:0;
  height: 100%;
  width:100%;
  display:flex;
  justify-content: center;
  align-items:center
}

.poster img{
 height:100%;
 width:100%;
}

.info{
  padding:2em 0.5em;
}


.detail-container{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  width:90%;
}

.column{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}


.movie-name h1{
  margin:0;
  text-transform: uppercase;
  color:white;
  font-size:2.5em;
}
.overview h2{
  color:orange;
  font-family: "Oswald";
  font-weight: normal;
}
.overview p{
  color:white;
  font-size:1em;
}
.genres-companies h2{
  color:orange;
  font-family: "Oswald";
  font-weight: normal;
}
.genres-companies p{
  color:white;
}
.details{
  margin-bottom:10px;
}
.details h3{
  color:white;
  font-family: "Oswald";
  font-weight: normal;
  margin:0;
}
.details h2{
  color:orange;
  font-family: "Oswald";
  font-weight: normal;
  margin:0;
}

.links{
  display:flex;
  cursor: pointer;
}
.li{
  list-style-type:none;
  background-color:rgba(80,80,80,0.5);
  margin:16px 10px 16px 0;
  padding:14px 0;
}
.link{
  box-sizing: border-box;
  padding:15px 15px;
  text-decoration: none;
  color:white;
  font-size:14px;
  font-family: "Oswald";
  letter-spacing: 1px;
}

.link:hover{
  color:black;
  background-color:orange;
  transition:0.2s;
}


@media(min-width:568px){
  .container-box{
    width:530px;
  }
}

@media(min-width:867px){
  .container-box{
    width:830px;
    margin:3em;
  }
  .infoBox{
    flex-direction:row;
    margin:1em;
  }
  .poster{
    width:48%;
  }
  .info{
    width:48%;
}
}
@media(min-width:1075px){
  .container-box{
    width:1030px;
  }
  .poster{
    width:43%;
    
  }
  .info{
    width:53%;
}
}

@media(min-width:1495px){
  .container-box{
    width:1470px;
  }
}

.main-footer{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  background:black;
  color:grey;
  height:100px;
}