
  /* ========================== MAIN NAVIGATION ============================ */
.menu {
  float: right;
  clear: left;
  margin: 1em;
  font-size: 1.1rem;
  color: white; 
}

  @media (min-width: 992px) {
    .menu {
      display: none; 
    } 
  }

.main-heading {
  margin: 1.1em 0 0 1em;
  float: left; 
}
  .main-heading h1 {
    color:white;
    margin: 0; 
}

  @media (min-width: 992px) {
    .main-heading {
      margin: auto; 
    }
      .main-heading h1 {
        margin-left: 0.6em; 
    } 
  }

.wrapper {
  z-index: 3;
  width: 100%;
  position: fixed;
  background:
  linear-gradient(
    rgba(56,54, 58, 1), rgba(35, 33, 39, 1)
  );
  height: 60px;
  display: flex;
  justify-content: center; 
  box-shadow: 0 1px 6px 0 rgba(64,196,253,1);
}

.navigation {
  z-index: 3;
  width: 100%;
  position: fixed; 
}

  @media (min-width: 992px) {
    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 960px; 
    } 
    }

  @media (min-width: 1200px) {
    .navigation {
      width: 1140px; 
    } 
    }

.topnav {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-y: hidden;
  height: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 0 3px 20px -10px black; 
}

  .topnav li {
    border-top: 1px solid #E6E6E6;
    padding: 1em; 
    
  }

  @media (min-width: 992px) {
    .topnav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 60px;
      transition: 0s;
      background-color: transparent;
      box-shadow: none; 
      
    }
  .topnav li {
        border-top: none;
        border-right:1px solid rgb(65,63,68);
        border-left:1px solid rgb(40,38,42);
        padding: 1.2em 0.5em; 
      } 
  }

li a {
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 15px; 
  text-decoration:none;
}
  @media (min-width: 992px) {
    li a {
      margin: 1em;
      color: white; 
    } 
  }

.current {
  color: #C49B66; 
}

.tag:hover {
  text-decoration: none;
  color: #C49B66;
  transition: 0.2s;
  opacity: 0.5; 
}

.top {
  width: 100%;
  height: 20px;
  transform: translateY(70px); 
}
/* ========================= RESPONSIVE CLASSES ============================ */
.response {
  height: 300px;
  transition: 0.4s ease-in-out; 
}
  @media (min-width: 992px) {
    .response {
      height: 70px;
      transition: none; 
    } 
  }
/* ============================BACKGROUND IMAGE ============================== */

.subheader{
  background-color:rgb(28,27,30);
  height:150px;
  background-size: cover;
}

  /* ========================== MOVIE CONTAINER ============================ */

  .movie-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding:30px 50px;
    background-color:rgb(36,35,41);
  }
  .movie-item{
    width:180px;
    height:280px;
    padding:1em;
   overflow: hidden;
  }
  @media(min-width:568px){
    .movie-container{
      flex-direction:row;
      flex-wrap: wrap;
    }
  }
  .movie-cover{
    z-index: 1;
    background-color:grey;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* ========== INPUT ===============*/

  input{
    background-color:black;
    border:none;
    height:30px;
    color:white;
  }